@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.HomePage>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    Layout = "MainLayout.cshtml";
}

<section class="hero">
    <div class="container">
        <h1 style="font-size: 3.5rem; margin-bottom: 20px;">@Model.HeroTitle</h1>
        <div style="font-size: 1.2rem; color: #666;">
            @Model.MainBody
        </div>
    </div>
</section>